body {
  font-family: 'Open Sans', sans-serif;
  background-color: #E19605;
}

.container{
  max-width: 1180px;
  margin: 0 auto;
}

.contenedor{
  height: 100%;
}

.logo img{
  width: 240px;
  margin-top: 40px;
}

nav{
  background-color: #e8e8e8;
  margin-top: 30px;
  width: 100%;
  display: block;
  height: 56px;
  overflow:hidden;
}

nav .menu{
  float: right;
  font-family: 'ABeeZee', sans-serif;
}

nav .menu li{
  display: inline-block;
}

nav .menu li.active a{
  background: #4b9c35;
  color:white;
}

nav .menu li a{
  text-decoration: none;
  padding: 20px;
  display: block;
  color: black;
}

nav .menu li a:hover{
  background: #6c4799;
  color: white;
}

main{
  background-image: url(../imagenes/fondo.png);
  padding: 100px 0;
  margin-bottom: -25px;
}

main section{
  height: 100%;
}

section h1{
  font-family:  'Righteous', cursive, sans-serif;
}

main div{
  width: 50%;
  margin: 0px auto;
  border-radius: 4px;
  background-color: white;
}

main span {
  display: inline-block;
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}

main span label{
  display: inline-block;
  float: left;
}

main span input{
  display: inline-block;
  float: right;
}

main a{
  display: inline-block;
  margin-top: 10px;
  color:#389938;
}

main a:hover{
  color: #6c4799;
}

.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:  red;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: red;
   opacity:  1;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: red;
   opacity:  1;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: red;
}
.form-control::-ms-input-placeholder { /* Microsoft Edge */
   color: red;
}

.form-control::placeholder {
   color: red;
}

.row{
  margin: 10px 20px;
}


.boton {
  width: 140px;
  margin: 0px auto;
  margin-top: 35px;
  border-radius: 4px;
  border: 0px;
  color: #ffffff;
  font-size: 20px;
  background-color: #4b9c35;
  padding: 5px 30px;
  text-decoration: none;
}

.boton:hover {
  background-color: #6c4799;
}

.recordarme {
  margin-left: 10px;
}

.footer-general {
  background-color:black;
  width: 100%;
  height: 100px;
  margin: 25px auto;
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
}

.footer-general li{
  display: inline-block;
}

.footer-general ul{
  text-align: center;
}

.fa{
  display: inline-block;
  color:white;
  margin: 8px auto;
}

.fa:hover{
  color: black;
  font-size: 3em;
}

.footer-icons{
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.footer-icons:hover{
  background-color: white;
}

@media screen and (max-width:780px) {
  nav .menu{
      float:none;
      width: 100%;
      padding: 0;
      margin: 0;
    }

  nav li{
      display: inline-block;
      width: 25%;
      height: auto;
    }

  main div{
    width: 75%;
  }
}

@media screen and (max-width:480px){
  .logo{
    margin: 10px auto;
  }

  .logo img{
    display: block;
    margin: 0 auto;
  }

  .sticky-top{
    position: static;
  }

  nav{
    height: auto;
  }

  nav ul li{
    width: 100%;
    border-bottom: 5px solid #6c4799;
  }

  nav ul li:first-child{
    border-top: 5px solid #6c4799;
  }

  main div{
    width: 100%;
  }
}
