@media (max-width: 768px){
  nav .menu{
      float:none;
      width: 100%;
      padding: 0;
      margin: 0;
    }

  nav li{
      display: inline-block;
      width: 25%;
      height: auto;
    }

  .card{
      display:block;
      width: 80%;
      margin: 30px 10%;
    }

  section{
    position:relative;
    height: 275px;
    margin-bottom: 20px;
  }

}

@media (max-width: 480px){
  body{
    background-image: url("../imagenes/banner.jpg");
  }

  .logo{
    margin: 10px auto;
  }

  .logo img{
    display: block;
    margin: 0 auto;
  }

  section{
    height: 200px;
    margin-top: 10px;
  }

  .banner img{
    display: none;
  }

  .reservar{
    display: none;
  }

  .titulo{
    display: block;
    font-family: 'Righteous', cursive, sans-serif;
  }

  .texto{
    display: block;
    position: static;
    width: 90%;
    margin: 30px 5%;
  }

  .boton{
    display: block;
    position: static;
    width: 90%;
    margin: 30px 5%;
  }


  .sticky-top{
    position: static;
  }

  nav{
    height: auto;
  }

  nav ul li{
    width: 100%;
    border-bottom: 5px solid #6c4799;
  }

  nav ul li:first-child{
    border-top: 5px solid #6c4799;
  }

  .card{
      width: 90%;
      margin: 30px 5%;
    }
}
