body {
  font-family: 'Open Sans', sans-serif;
  background-color: #E19605;
}

.container{
  max-width: 1180px;
}

main {
  margin: 0 auto;
}

.logo img{
  width: 240px;
  margin-top: 40px;
}

nav{
  background-color: #e8e8e8;
  margin-top: 30px;
  width: 100%;
  display: block;
  height: 56px;
  overflow:hidden;
}

nav .menu{
  float: right;
  font-family: 'ABeeZee', sans-serif;
}

nav .menu li{
  display: inline-block;
}

nav .menu li.active a{
  background: #4b9c35;
  color:white;
}

nav .menu li a{
  text-decoration: none;
  padding: 20px;
  display: block;
  color: black;
}

nav .menu li a:hover{
  background: #6c4799;
  color: white;
}

main .banner{
  position: relative;
  width: 100%;
  height: 90%;
  background-image: url("../imagenes/fondo.png");
  margin-bottom: -25px;
}

main .banner p{
  font-size: 12px;
  text-align: justify;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;

}

main .texto {
  position: absolute;
  top: 160px;
}

#errores{
  width: 100%;
}

form{
  overflow: hidden;
}

form div{
  width: 50%;
  margin: 10px 30px;
  }

form div:first-child{
  padding-top: 30px;
}

.form{
  margin-bottom: 30px;
}

.boton{
  background-color: #4b9c35;
  width: 140px;
  height: 50px;
  color: white;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 20px;
  border: 0;
  margin: 30px;
  text-align: center;
}

.boton:hover{
  background-color: #6c4799;
}

.area{
  background-color: white;
  width: 80%;
  margin: 30px 10%;
}

input {
  width: 50%;
  border-radius: 4px;
  height: 24px;
}

.campo{
  width: 50%;
}

div .dma{
  clear: both;
  display: inline-block;
  margin-bottom: 20px;
  }


.cancha img {
  padding-top: 20px;
  width: 100%;
  height: auto;
}

.cancha p {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-general {
  background-color:black;
  width: 100%;
  height: 100px;
  margin: 25px auto;
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
}

.footer-general li{
  display: inline-block;
}

.footer-general ul{
  text-align: center;
}

.fa{
  display: inline-block;
  color:white;
  margin: 8px auto;
}

.fa:hover{
  color: black;
  font-size: 3em;
}

.footer-icons{
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.footer-icons:hover{
  background-color: white;
}

@media (max-width: 768px){
  nav .menu{
      float:none;
      width: 100%;
      padding: 0;
      margin: 0;
    }

  nav li{
      display: inline-block;
      width: 25%;
      height: auto;
    }

  .area{
    width: 90%;
    margin: 30px 5%;
  }

  form div{
    width: 80%;
    margin: 10px 10%;
    text-align: center;
    }

}

@media (max-width: 480px){
  .logo{
    margin: 10px auto;
  }

  .logo img{
    display: block;
    margin: 0 auto;
  }

  .sticky-top{
    position: static;
  }

  nav{
    height: auto;
  }

  nav ul li{
    width: 100%;
    border-bottom: 5px solid #6c4799;
  }

  nav ul li:first-child{
    border-top: 5px solid #6c4799;
  }

  .container{
    padding: 0;
  }

  .area{
    width: 100%;
    margin: 30px 0;
  }

  form div{
    width: 100%;
    margin: 10px 0;
    }

  .boton{
    float:none;
    width: 90%;
    margin: 30px 5%;
  }
}
